In [1]:
# Importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Reading the four CSV File

movies = pd.read_csv("../dataset/ml-latest-small/movies.csv")
links = pd.read_csv("../dataset/ml-latest-small/links.csv")
rating = pd.read_csv("../dataset/ml-latest-small/ratings.csv")
tags = pd.read_csv("../dataset/ml-latest-small/tags.csv")

In [24]:
user = list(set(rating['userId']))
type(user)

list

In [6]:
# diplaying the datasets

movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [8]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [9]:
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
# replacing the movie Id with movie name

redefined_rating = pd.DataFrame({"userId": rating["userId"],"title":rating["movieId"].replace(movies.set_index("movieId")["title"]),"rating":rating["rating"]})
redefined_rating.head()

   userId                        title  rating
0       1             Toy Story (1995)     4.0
1       1      Grumpier Old Men (1995)     4.0
2       1                  Heat (1995)     4.0
3       1  Seven (a.k.a. Se7en) (1995)     5.0
4       1   Usual Suspects, The (1995)     5.0

In [11]:
# We are grouping the datasets by userId and title and combining these using mean operation on rating

refined_dataset = redefined_rating.groupby(by=['userId','title'], as_index=False).agg({"rating":"mean"})
refined_dataset.head()

   userId                                 title  rating
0       1              13th Warrior, The (1999)     4.0
1       1                       20 Dates (1998)     4.0
2       1                     Abyss, The (1989)     4.0
3       1  Adventures of Robin Hood, The (1938)     5.0
4       1            Alice in Wonderland (1951)     5.0

In [12]:
# Displaying the number of unique user and unique movies

num_users = len(refined_dataset['userId'].value_counts())
num_items = len(refined_dataset['title'].value_counts())
print('Unique number of users in the dataset: {}'.format(num_users))
print('Unique number of movies in the dataset: {}'.format(num_items))

Unique number of users in the dataset: 610
Unique number of movies in the dataset: 9719

In [10]:
# importing required libraries

import matplotlib.pyplot as plt
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from pprint import pprint

In [11]:
# Defining user to movie table using value = rating

user_to_movie_df = refined_dataset.pivot(
    index='userId',
     columns='title',
      values='rating').fillna(0)

user_to_movie_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# transform matrix to scipy sparse matrix

user_to_movie_sparse_df = csr_matrix(user_to_movie_df.values)
user_to_movie_sparse_df

<610x9719 sparse matrix of type '<class 'numpy.float64'>'
	with 100832 stored elements in Compressed Sparse Row format>

In [13]:
# Initializing the knn model setting the metric and algorithm

knn_model = NearestNeighbors(metric='cosine', algorithm='brute')
knn_model.fit(user_to_movie_sparse_df)

NearestNeighbors(algorithm='brute', metric='cosine')

In [14]:
# defining the function to get similar user
# input to this function is the user and number of top similar users you want.

def get_similar_users(user, n = 5):
    knn_input = np.asarray([user_to_movie_df.values[user-1]])                     # taking the user rating
    distances, indices = knn_model.kneighbors(knn_input, n_neighbors=n+1)         # getting the similar user and distance
    print("Top",n,"users who are very much similar to the User:",user, "are: ")
    print(" ")
    for i in range(1,len(distances[0])):
        print(i,". User:", indices[0][i]+1, "separated by distance of",distances[0][i])    # printing the user and distances
    return indices.flatten()[1:] + 1, distances.flatten()[1:]                     # transforming 2d array into 1d array

In [15]:
# printing the few movies seen by the user

from pprint import pprint
user_id = 400
print(" Few of movies seen by the User:")
pprint(list(refined_dataset[refined_dataset['userId'] == user_id]['title'])[:10])

 Few of movies seen by the User:
['Arrival (2016)',
 'Back to the Future (1985)',
 'Blade Runner (1982)',
 'Dark Knight, The (2008)',
 'Departed, The (2006)',
 'Die Hard (1988)',
 'Donnie Darko (2001)',
 'Fargo (1996)',
 'Fight Club (1999)',
 'Forrest Gump (1994)']

In [16]:
# getting the similar user

similar_user_list, distance_list = get_similar_users(user_id,5)

Top 5 users who are very much similar to the User: 400 are:

1 . User: 131 separated by distance of 0.537709668804945
2 . User: 17 separated by distance of 0.5476814777846231
3 . User: 247 separated by distance of 0.5656888652073842
4 . User: 417 separated by distance of 0.573524976993593
5 . User: 549 separated by distance of 0.5770363005924998

In [17]:
# printing the similar user and distance

similar_user_list, distance_list

(array([131,  17, 247, 417, 549], dtype=int64),
 array([0.53770967, 0.54768148, 0.56568887, 0.57352498, 0.5770363 ]))

In [18]:
# Getting the movie rating of similar user

mov_rtngs_sim_users = user_to_movie_df.values[similar_user_list]
mov_rtngs_sim_users

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [19]:
# getting the column value (movies seen by similar user)

movies_list = user_to_movie_df.columns
movies_list

Index([''71 (2014)', ''Hellboy': The Seeds of Creation (2004)',
       ''Round Midnight (1986)', ''Salem's Lot (2004)',
       ''Til There Was You (1997)', ''Tis the Season for Love (2015)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)', '*batteries not included (1987)',
       ...
       'Zulu (2013)', '[REC] (2007)', '[REC]² (2009)',
       '[REC]³ 3 Génesis (2012)',
       'anohana: The Flower We Saw That Day - The Movie (2013)',
       'eXistenZ (1999)', 'xXx (2002)', 'xXx: State of the Union (2005)',
       '¡Three Amigos! (1986)', 'À nous la liberté (Freedom for Us) (1931)'],
      dtype='object', name='title', length=9719)

In [20]:
# defining the weighted distance

weightage_list = distance_list/np.sum(distance_list)
weightage_list

array([0.19192666, 0.19548594, 0.20191338, 0.20471035, 0.20596366])

In [21]:
# printing the dimention

print("Weightage list shape:", len(weightage_list))
print("mov_rtngs_sim_users shape:", mov_rtngs_sim_users.shape)
print("Number of movies:", len(movies_list))

Weightage list shape: 5
mov_rtngs_sim_users shape: (5, 9719)
Number of movies: 9719

In [22]:
# making the shape of weighted list similar to mov_rtngs_sim_users

weightage_list = weightage_list[:,np.newaxis] + np.zeros(len(movies_list))
weightage_list.shape

(5, 9719)

In [23]:
# multiplying the weights to the movie rating of similar user

new_rating_matrix = weightage_list*mov_rtngs_sim_users
mean_rating_list = new_rating_matrix.sum(axis =0)
mean_rating_list

array([0., 0., 0., ..., 0., 0., 0.])

In [24]:
# defining function getting the recommended movies

def recommend_movies(n):
    n = min(len(mean_rating_list),n)
    pprint(list(movies_list[np.argsort(mean_rating_list)[::-1][:n]]))

In [25]:
# printing the recommended movies

print("Movies recommended based on similar users are: ")
recommend_movies(10)

Movies recommended based on similar users are:
['Shawshank Redemption, The (1994)',
 'Matrix, The (1999)',
 'Inception (2010)',
 'Forrest Gump (1994)',
 'Dark Knight, The (2008)',
 'Lord of the Rings: The Fellowship of the Ring, The (2001)',
 'The Imitation Game (2014)',
 'Fight Club (1999)',
 'Lord of the Rings: The Return of the King, The (2003)',
 'Usual Suspects, The (1995)']

In [33]:
# filtering the watched movies and recommend movie

def filtered_movie_recommendations(n):
    
    first_zero_index = np.where(mean_rating_list == 0)[0][-1]
    sortd_index = np.argsort(mean_rating_list)[::-1]
    sortd_index = sortd_index[:list(sortd_index).index(first_zero_index)]
    
    n = min(len(sortd_index),n)
    movies_watched = list(refined_dataset[refined_dataset['userId'] == user_id]['title'])
    filtered_movie_list = list(movies_list[sortd_index])
    
    count = 0
    final_movie_list = []
    for i in filtered_movie_list:
        if i not in movies_watched:
            count+=1
            final_movie_list.append(i)
        if count == n:
            break
    if count == 0:
        print("There are no movies left which are not seen by the input users and seen by similar users. May be increasing the number of similar users who are to be considered may give a chance of suggesting an unseen good movie.")
    else:
        pprint(final_movie_list)
        return final_movie_list

In [36]:
movies_list = filtered_movie_recommendations(10)

['The Imitation Game (2014)',
 'Deadpool (2016)',
 'Iron Man (2008)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Psycho (1960)',
 'Now You See Me (2013)',
 'Mrs. Doubtfire (1993)',
 'Dead Poets Society (1989)',
 'Clockwork Orange, A (1971)',
 'Good Will Hunting (1997)']

In [2]:
while(True):
    n = input("Show More Movies (Yes/No):   ")
    if n=="No":
        break

Show More Movies (Yes/No):   No